<!--<div class="d-flex align-items-center">-->
<!--  <%#= image_tag 'aboutimage.jpg', class: "about-image" %>-->
<!--  <div class="about-item">-->
<!--    <h5>-->
<!--    うちの子が一番かわいい！あなたが飼っている愛ペットを誰かに自慢したくないですか？<br>-->
<!--    "親バカ"は、自慢のペットのかわいいシーンを投稿し、癒しをシェアできる動物専門のSNSです。<br>-->
<!--    このアプリの利用者はみんなあなたと同じ動物好き。投稿を共感してくれる人もたくさん見つかり、<br>好きな投稿を見つけるのも容易できっと動物好きなあなたの欲求を満たすことでしょう。<br>-->
<!--    また、自分の過去に投稿をした写真や動画をまとめることができ整理が簡単です。<br> 複数のペットを投稿している場合、ペット毎にまとめれば成長アルバムとすることも。<br>-->
<!--    さらに、言語の切り替えができるため世界中の人が利用でき、あなたの住んでいる地方では珍しい動物も見ることができるでしょう。-->
<!--    </h5>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <%= image_tag 'aboutimage.jpg', class: "col-lg-4 col-md-6 col-sm-10 about-image" %>
    <div class="col-md-6 col-sm-11">
      <p class="about-item ml-5">
        うちの子が一番かわいい！あなたが飼っている愛ペットを誰かに自慢したくないですか？<br>
        "親バカ"は、自慢のペットのかわいいシーンを投稿し、癒しをシェアできる動物専門のSNSです。<br>
        このアプリの利用者はみんなあなたと同じ動物好き。投稿を共感してくれる人もたくさん見つかり、<br>好きな投稿を見つけるのも容易できっと動物好きなあなたの欲求を満たすことでしょう。<br>
        また、自分の過去に投稿をした写真や動画をまとめることができ整理が簡単です。<br> 複数のペットを投稿している場合、ペット毎にまとめれば成長アルバムとすることも。<br>
        さらに、言語の切り替えができるため世界中の人が利用でき、あなたの住んでいる地方では珍しい動物も見ることができるでしょう。
      </p>
    </div>
  </div>
</div>