/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.font{
  font-family: 'Yomogi', cursive;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  flex: 1;
}
// navber
.bg{
  background: linear-gradient(to right, #6699CC, 	#FFEBCD 60%, #EEEEEE);
}
.logo{
  width: 120px;
  height: 60px;
}
.search-aria{
  text-align: center;
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.fas{
  color: black;
}
.fas-size-big{
  transform: scale(2);
}
カード、画像
.card-size{
  width: 18rem;
}
.fas-size-album{
  transform: scale(3);
}
.img{
  height: 100%;
}
.img-spase {
  width: 800px;
  height: 500px;
  object-fit: cover;
  background-color: #333333;
  text-align: center;
}
.imgs-trim {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-img-trim{
  height: 180px;
}
.imgs-spase {
  background-color: #333333;
  text-align: center;
}
.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.image_form{
  display: none;
}
footer{
  width: 100%;
  height: 120px;
}
.link {
    text-decoration: none;
    color: black ;
}