// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
container {
  display: flex;
}
.edit-link{
  color: #FF1A6F;
  text-decoration: none;
}
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}